

.nav-item a{
  color:white;
  margin: 0!important;
  font-size:20px;
  color:white!important;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  margin-right: 40px!important;
}
.nav-item a:hover{
  background-color:rgb(226, 19, 223) ;
  text-decoration: none;
  padding: 10px;
}

.logo {
    height: 100px;
    padding:0%;
    
}

.buscador{
    align-items: center;
    margin: auto;
    text-align: center;
    align-content: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
letter-spacing: 0px;
color: #271E24;
opacity: 1;
font-weight: bold;
}
.buscador img{
  width: auto;
    height: 100px;
    align-items: center;
    margin: auto;
    text-align: center;
    align-content: center;
}
footer{
    align-content: center;
    margin: auto;
    align-content: center;   
    margin-left: 45vw;
}

header{
  background-image: url("../imagenes/c13d785ade849a69632bbd96508629b8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .9;



}
.logo h1{
  color:white;
  font-family: 'Dancing Script', cursive;
  font-size:45px;
  margin-left: 20%!important;
  margin-top: 15%!important;
}
.opacidad{
  background:black;
}
@media only screen and (max-width: 600px)
{
  .logo h1{
    font-size: 50px!important;
    margin-top: 20px;
   
    font-family: 'Dancing Script', cursive;
  }
  
  .nav-item a{
    background-color:rgb(226, 19, 223)!important;
    font-weight: bold;
    padding: 2px;
    font-size: 20px;

    ;
    
  }
  
}